
<a routerLink="/example1">example1</a>&nbsp;
<a routerLink="/example2">example2</a>&nbsp;
<a routerLink="/example3">example3</a>&nbsp;
<a routerLink="/example4">example4</a>&nbsp;
<a routerLink="/example5">example5</a>&nbsp;
<a routerLink="/example6">example6</a>&nbsp;
<a routerLink="/example7">example7</a>&nbsp;
<a routerLink="/example8">example8</a>&nbsp;
<a routerLink="/example9">example9</a>&nbsp;
<a routerLink="/example10">example10</a>&nbsp;
<a routerLink="/example11">example11</a>&nbsp;
<a routerLink="/example12">example12</a>&nbsp;
<hr>

<router-outlet></router-outlet>

